.nav {
  width: 1200px;
  height: 120px;
  margin: 20px 0px 0px 0px;
  position: absolute;
  align-self: center;
  display: inline-block;
}
.icon {
  width: 200px;
  height: 100px;
  position: bottom;
  display: inline-block;
  margin-right: 15%;
}
.container-qoute {
  margin: 15%;
  height: 80%;
  width: 90%;
  text-align: center;
}

.qoutes {
  background-color: #EEFAD9;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  height: auto;
  color: black;
  font-size: 2rem;
}

.quotes {
  font-size: 30px;
  font-family: "Times New Roman";
}

.author {
  font-size: 20px;
  font-style: italic;
}

.footer a {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.footer a:hover {
  color: blue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}
